*{
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');

html{
    font-size: 62.5%;
}

nav{
    font-size: 250%;
 }

.navbar-brand{
    font-size: 100%;
 }

 footer {
    grid-area: footer;
    color: black;
    font-weight: lighter;
    padding: 20px;
 }

 body{
   
    background-image: url(../img/2880x1800-blanched-almond-solid-color-background.jpg);
    
}

section h1{
    color: firebrick;
    font-weight: lighter;
    font-style: inherit;
    font-size: 7em;
    margin: 20px;
    padding: 20px;
    
}

h2{
    color: rgb(0, 0, 0);
    font-weight: lighter;
    font-style: oblique;
    font-size: 3em;
}

#tipografia{
    font-style: inherit;
    font-size: 3em;
}


   
p {
    display: flex;
    justify-content: flex-start;
    font-size: 2em;
    font-family: 'Oxygen', sans-serif;
    color: black;
    margin: 10px;
    padding: 10px;
}

.foot{
    font-size: 1,5em;
    justify-content: center;
}

.divImagen {
    width: 96%;
    max-width: 960px;
    margin: 0 auto;
    }


img{
    display: flex;
    margin: 50px auto;
    justify-content: center;
    border: inset 10px red;
    width: 100%;
    height: auto;
        &:hover{
            transform: scale(1.5);
            transition: 1.3s;
        }
 }

 


.video{
    display: flex;
    justify-content: center;
}

@mixin sizes ($width, $height){

    $height:$height;
    $width:$width;
    
}

#footdiv{
    @include sizes (100%, 25%);
    display:flex;
    justify-content: center;
    justify-content: space-evenly;
}


$redes: (
    instagram: #C25e30,
    facebook: #3a5795,

);

@each $red, $color in $redes {

    .btn--#{$red}{
        background-color: $color;
        text-decoration: none;
        color: white;
        font-size: medium;
    }
    
}

#botonred{
    padding: 1%;
    border-radius: 10%;
}
